@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

.font-cursive {
  font-family: "Dancing Script", cursive;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-image: linear-gradient(#f05454, #30475e);
  font-family: "Poppins", sans-serif;
}

.font-lovers {
  font-family: "Lovers Quarrel", cursive;
}
